body{
    width: 400px;
    height: 0;
    padding: 30px;
    margin: 30px;
}
h1:hover{
    color: rgb(30, 67, 67);
    text-shadow: 10px 10px 10px #000;
}
i:hover{
    color: red;
    text-shadow: -10px -10px -10px #000;
}